/* reset */
* {
  padding: 0px;
  margin: 0px;
}

:root {
  --neon-green: #70f730;
  --neon-green-darker: #44d300;
  --subheadings: #0cfc05;
  --background: black;
  --secondary-color-bright: #fff;
  --secondary-color-dull: #f8f8f8;
}

/* utils */
.container {
  max-width: 80%;
  margin: auto;
  margin-top: 3vh;
}

li {
  text-decoration: none;
  list-style: none;
}

/* Sub headings that are in green and basically everything that looks like
 * its out of a 90s video game */
.subheading {
  color: var(--subheadings);
  font-family: 'VT323', monospace;
}

.secondary-color-bright {
  color: var(--secondary-color-bright);
}

.inline-text {
  display: inline;
}

.green-text {
  color: var(--subheadings);
}

.monospace {
  font-family: 'VT323', monospace;
}

/* makes divs nad links look like green buttons */
.btn {
  background-color: var(--neon-green);
  width: 9vh;
  height: 1vh;
  padding: 0.9rem;
  text-align: center;
  font-family: sans-serif;
  text-justify: auto;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bolder;
}

body {
  background-color: var(--background);
  font-family: sans-serif;
}

.notice {
  display: grid;
  max-width: 75%;
  margin: 20px auto;
  height: 70vh;
  grid-template-columns: repeat(100, calc(75% / 100));
  grid-template-rows: repeat(1000, calc(70vh / 1000));
  box-shadow: 0 0 40px #022901, -10px 0 40px #022901, 10px 0 40px #022901;
}

.action-first {
  grid-column: 5;
  grid-row: 50;
}

/* dog ear note */
.dog-ear-wrapper {
  grid-column: 20;
  grid-row: 240;

  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 7vh);
  grid-template-rows: repeat(4, 7vh);
  width: 28vh;
  height: 28vh;
  z-index: 3;
}

.dog-ear-one {
  grid-column: 1 /5;
  grid-row: 1;
}

.dog-ear-two,
.dog-ear-three,
.dog-ear-four,
.dog-ear-one {
  background-color: var(--neon-green);
}

.dog-ear-two {
  grid-column: 1 /5;
  grid-row: 2;
}

.dog-ear-two,
.dog-ear-three {
  text-align: center;
  font-weight: 1000;
  font-size: 2.4rem;
  font-weight: 900;
}

.dog-ear-three {
  grid-column: 1 /5;
  grid-row: 3;
}

.dog-ear-four {
  grid-column: 1 / 4;
  grid-row: 4;
}

/* the stuff looks like a dog ear */
.dog-ear-five {
  grid-column: 13/ 4;
  grid-row: 4;
  background-color: var(--background);
  width: 7vh;
  height: 7vh;
  overflow: hidden;
  position: relative;
}

.dog-ear-five:after {
  content: '';
  background: var(--neon-green-darker);
  width: 144%;
  height: 144%;
  position: absolute;
  transform: rotate(45deg) translate(-71%, 0%);
}

#nav {
  grid-column: 20;
  grid-row: 900;

  display: flex;
  width: 55vw;
  flex-direction: row;
  font-size: 1.3rem;
}

#nav li {
  flex: auto;
  font-size: 1.2rem;
}

#landing {
  grid-column: 050;
  grid-row: 240;

}


#landing h5 {
  font-size: 2.7rem;
  font-weight: 400;
}

#landing h1 {
  font-size: 4.5rem;
}
